<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"></p>
      <h2>\\Member List//</h2>
      <h5 class="d-inline highlight">会員一覧</h5>
      <div class="my-4">
        <table class="table table-hover">
          <tr>
            <th class="custom-header">会員ID</th>
            <th class="custom-header">氏名</th>
            <th class="custom-header">メールアドレス</th>
            <th class="custom-header">ステータス</th>
          </tr>
           <% @customers.each do |customer| %>
            <tr class="table-link" data-href="/admin/customers/<%= customer.id %>">
              <td>
                <%= customer.id %>
              </td>
              <td>
                <span class="text-dark text-decoration-underline">
                  <%= customer.full_name %>
                </span>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <% if customer.is_active %>
                  <span class="text-success font-weight-bold">有効</span>
                <% else %>
                  <span class="text-muted font-weight-bold">退会</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>
