<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-danger">
        <%= notice %>
      </p>
      
      <h2>\\Administrator Top Page//</h2>
      
      
      
    </div>
  </div>
</div>
