<% if review.liked_by?(current_member) %>
  <p>
    <%= link_to review_likes_path(review), method: :delete, class: "text-decoration-none text-dark" do %>
      <i class="text-danger ">♥</i><%= review.likes.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to review_likes_path(review), method: :post, class: "text-decoration-none text-dark" do %>
      <i class="text-danger">♡</i><%= review.likes.count %> いいね
    <% end %>
  </p>
<% end %>