<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
    <p>全国の絶品お取り寄せのレビューサイトです<i class="far fa-smile"></i></p>
      <h1 class="px-3">
        デリ
        <i class = "fas fa-utensils"></i>
        メモ
      </h1>
      このサイトを見ているみなさんで<br>
      全国のお取り寄せグルメをおすすめしたり、<br>
      ”私だけの”おすすめを覚書メモにご使用いただくことも可能です。<br>
      <br>
      ログインをしなくても、レビューをご覧いただくことが出来ますが、<br>
      ぜひログインしてあなたのおすすめレビューを教えてください<i class="far fa-smile"></i>
      
    </div>
  </div>
</div>
