<p id="notice"></p>
<div class="container">
  <div class="row">
      <div class="col-md-2">
        Deli Ranking
      </div>
      <div class="col-md-6 offset-md-1">
        デリデリ
        
        <h2 class="mt-3">New review</h2>
        
      </div>
      <div class="col-md-2 offset-md-1">
        ♡いいね♡Ranking
      </div>
      
  </div>
</div>
