<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h2>
        <i class="far fa-bookmark"></i>\\Bookmark List!!//<i class="far fa-bookmark"></i>
      </h2>
      <table class ='table'>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>商品名</th>
            <th></th>
          </tr>
          </thead>
            <tbody>
              <% @bookmarks.each do |bookmark| %>
                <tr>
                  <td>
                    <% if @current_time < bookmark.created_at.since(7.days) %>
                      <div class = "new-mark">
                        <%= image_tag("new.png", alt: "new", width: "40", height: "40") %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <%= image_tag(bookmark.review.review_image, width: "100", height: "100") %>
                  </td>
                  <td><%= bookmark.review.title %></td>
                  <td>
                    <p><%= link_to review_path(bookmark.review_id), class: "text-decoration-none text-dark" do %>
                    \\Review Details Page!!// <i class="fas fa-mouse-pointer text-danger"></i>
                    <% end %></p>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>