<caption>ブックマーク一覧</caption>
  <thead>
  <tr>
    <th class="custom-header"></th>
    <th class="custom-header"></th>
    <th class="custom-header">商品名</th>
    <th class="custom-header">掲載の有無</th>
    <th class="custom-header"></th>
    <th class="custom-header"></th>
  </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
            <% if @current_time < bookmark.created_at.since(7.days) %>
              <div class = "new-mark">
                <%= image_tag("new.png", alt: "new", width: "40", height: "40") %></div>
            <% end %>
        </td>
        <td>
            <p><%= link_to review_path(bookmark.review_id), class: "text-decoration-none text-dark" do %>
            show
            <% end %></p>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>