* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}


.image-container {
  display: flex;
}

.image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

/* Add additional styling as needed for each image */
.image-1 {
  background-image: url('a1.png');
}

.image-2 {
  background-image: url('a2.png');
}

.image-3 {
  background-image: url('a3.png');
}

.image-4 {
  background-image: url('a4.png');
}

.image-5 {
  background-image: url('a5.png');
}

.image.image-6 {
  width: 150px;
  height: 150px;
  background-image: url('a6.png');
}
.image.image-7 {
  width: 150px;
  height: 150px;
  background-image: url('a7.png');
}
.image.image-8 {
  width: 150px;
  height: 150px;
  background-image: url('a8.png');
}

.image.image-9 {
  width: 150px;
  height: 150px;
  background-image: url('a9.png');
}
.new-raview {
  margin-top: 50px;
  margin-button: 50px;
}

.page-list{
   .pagination{
     display: block;
     text: decoration-none;
     text-color: #6c6b6b;
   }
}



.new-review{
   margin-top: 50px;
}