* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}


.image-container {
  display: flex;
}

.image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.new-raview {
  margin-top: 50px;
  margin-button: 50px;
}

.page-list{
   .pagination{
     display: block;
     text: decoration-none;
     text-color: #6c6b6b;
   }
}



.new-review{
   margin-top: 50px;
}