* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #6c6b6b;
}


.image {
  width: 100%;
  height: 700px;
  background-image: url('ookami.jpg');
  background-position: center;
}
.page-list{
   .pagination{
     display: block;
     text: decoration-none;
     text-color: #6c6b6b;
   }
}

.new-review{
   margin-top: 50px;
}